<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <h1 class="font-semibold mb-10 text-center text-2xl">¡Login exitoso, aquí puedes modificar los datos de usuario!</h1>
  <h2 class="font-semibold mb-10 text-center text-l">Puedes cambiar el nombre de usuario y/o la contraseña.</h2>

  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4 text-center">Actualizar usuario</h2>
    
    <div class="mb-4">
      <label for="userName" class="block text-sm font-medium text-gray-700">Nombre de usuario:</label>
      <input
        id="userName"
        formControlName="userName"
        type="text"
        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="{{ userName }}"
      />
      <div *ngIf="updateUserForm.get('userName')?.touched && updateUserForm.get('userName')?.invalid" class="text-red-500 text-sm mt-1">
        El nombre de usuario es requerido.
      </div>
    </div>

    <div class="mb-4">
      <label for="newPassword" class="block text-sm font-medium text-gray-700">Contraseña:</label>
      <input
        id="newPassword"
        formControlName="newPassword"
        type="password"  
        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Introduce la nueva contraseña"
      />
      <div *ngIf="updateUserForm.get('newPassword')?.touched && updateUserForm.get('newPassword')?.invalid" class="text-red-500 text-sm mt-1">
        La contraseña debe tener al menos 8 caracteres, incluyendo mayúsculas, minúsculas, un número y un carácter especial.
      </div>
    </div>

    <div class="mb-4">
      <label for="confirmNewPassword" class="block text-sm font-medium text-gray-700">Confirmar contraseña:</label>
      <input
        id="confirmNewPassword"
        formControlName="confirmNewPassword"  
        type="password"  
        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Confirma la nueva contraseña"
      />
      <div *ngIf="updateUserForm.get('confirmNewPassword')?.touched && updateUserForm.get('newPassword')?.value !== updateUserForm.get('confirmNewPassword')?.value" class="text-red-500 text-sm mt-1">
        Las contraseñas no coinciden.
      </div>
    </div>
    
    <div *ngIf="errorMessage" class="text-red-500 text-sm mt-1">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="text-green-500 text-sm mt-1">{{ successMessage }}</div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-500 transition duration-200 mb-4"
    >
      Actualizar
    </button>
  </form>
  <h2 class="font-semibold underline mb-10 text-center text-l text-red-500 cursor-pointer mt-6" name="deleteUser" (click)="deleteUser()">Si lo deseas puedes borrar tu usuario haciendo click aquí</h2>
</div>
